* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    font-size: 62.5%
}
body {
    animation: bgtest 4s ease infinite;
    height: 100vh;
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    background: linear-gradient(45deg, #190361 0%, #B0F 100%);
}
main {
    background-color: #fff;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);
    border-radius: .6rem;
    display: flex;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    flex-direction: column;
    align-items: center;
    text-align: center;

    margin-top: -12rem;
    width: min(42.8rem, 90%);
}
h1, h2 {
    font-family: 'Montserrat';
    margin-bottom: 1.4rem;
    font-weight: 700;
    font-size: 2.4rem;
}
.screen1 img {
    cursor: pointer;
}
.screen1 p {
    font-family: 'DM Sans';
    margin-bottom: 2.6rem;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
}
.hidden {
    display: none;
}
/* Screen2 */
.screen2 p {
    margin: 1.7rem;
    font-size: 2.4rem;
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
    font-family: Dancing Script;
    background: #E4EDF1;
    box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.50);
    min-width: 29.3rem;
}
button {
    margin-top: 1.4rem;
    padding: 16px;
    border-radius: 4px;
    background: #FF9500;
    border: none;
    color: #FFF;
    text-align: center;
    font-family: DM Sans;
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
}
button:hover {
    background: #f8a32c;
}
.screen2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.screen2 img {
    padding: 4.2rem 0;
}
.hidden {
    display: none;
}
/* animations */
.screen1 img:hover {
    animation: shake 0.1s infinite;
}

@keyframes shake {
    0% {
        rotate: 0deg;
        transform: translateX(-1.3%);
        transform: translateY(-1.3%);
    }
    50% {
        rotate: 5deg;
    }
    100% {
        transform: translateY(1.3%);
        transform: translateX(1.3%);
        rotate: 0deg;
    }
}
@keyframes bgtest {
    0% {
        background-size: 100%;
        background-position: 60%;
    }
    50% {
        background-size: 200%;
        background-position: 0%;
    }
    100% {
        background-size: 100%;
        background-position: 60%;
    }
}
.screen2 p {
    --startY: 700%;
    animation: moveY 1.4s;
    animation-fill-mode: forwards;
}
@keyframes moveY {
    from {
        transform: translateY(var(--startY));
        scale: 0.1;
        opacity: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}